
body{
	 width: 100%; 
	  height: 100%; 
	/*  background-image: url("https://media.tenor.com/Z2-Tny09OdkAAAAC/batman-running.gif"); **/
	 background-image: url(favion/wall.jpg);
	  background-size: initial;
	  background-repeat: no-repeat; 
	  background-position: center center;
  }
main{
	color: #510205;
}

.icons-social a {
	color: #a9ad60;
}

.icons-social a svg path{
	fill: #a9ad60;
}
